/* Interface stylesheet for Javascript ROOT Web Page. */


/*--------------------------------------------------
  tooltip style for 3d drawings
  --------------------------------------------------*/

.jsroot_tt3d_main {
    opacity: 1;
    filter: alpha(opacity=1);
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 101;
}
.jsroot_tt3d_cont {
    display: block;
    padding: 2px 12px 3px 7px;
    margin-left: 5px;
    font-size: 11px;
    background: #777;
    color: #fff;
}

.jsroot .xaxis path,
.jsroot .xaxis line,
.jsroot .yaxis path,
.jsroot .yaxis line,
.jsroot .zaxis path,
.jsroot .zaxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.jsroot .brush .extent {
    stroke: #fff;
    fill-opacity: 0.125;
    shape-rendering: crispEdges;
}

.jsroot rect.h1bin {
    stroke: #4572A7;
    fill: #4572A7;
    opacity: 0;
}

.jsroot rect.zoom {
    stroke: steelblue;
    fill-opacity: 0.1;
}

.jsroot path.zoom {
    stroke: steelblue;
    fill-opacity: 0.1;
}

.jsroot svg:not(:root) {
   overflow: hidden;
}


/*--------------------------------------------------
  standalone context menu
  --------------------------------------------------*/

.jsroot_ctxt_container {
   position: absolute;
   top: 0;
   user-select: none;
   z-index: 100000;
   background-color: rgb(250, 250, 250);
   margin: 0;
   padding: 0px;
   width: auto;
   min-width: 100px;
   box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
   border: 3px solid rgb(215, 215, 215);
   font-family: Arial, helvetica, sans-serif, serif;
   font-size: 13px;
   color: rgb(0, 0, 0, 0.8);
}

.jsroot_ctxt_divider {
   width: 85%;
   margin: 3px auto;
   border: 1px solid rgb(0, 0, 0, 0.15);
}

.jsroot_ctxt_header {
   background-color: lightblue;
   padding: 3px 7px;
   font-weight: bold;
   border-bottom: 1px;
}

.jsroot_ctxt_text {
   margin: 0;
   padding: 3px 7px;
   pointer-events: none;
   white-space: nowrap;
}

.jsroot_ctxt_extraText {
   margin: 0;
   padding: 3px 7px;
   color: rgb(0, 0, 0, 0.6);
}

.jsroot_ctxt_focus {
   background-color: rgb(220, 220, 220);
}

.jsroot_ctxt_item:hover {
   background-color: rgb(235, 235, 235);
}

/*--------------------------------------------------
  Standalone dialog
  --------------------------------------------------*/

.jsroot_dialog_block {
   z-index: 100000;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0.2;
   background-color: white;
}

.jsroot_dialog {
   z-index: 100001;
   position: absolute;
   left: 50%;
   top: 50%;
}

.jsroot_dialog_body {
   position: relative;
   left: -50%;
   top: -50%;
   border: solid green 3px;
   padding: 5px;
   display: flex;
   flex-flow: column;
   background-color: white;
}

.jsroot_dialog_header {
   flex: 0 1 auto;
   padding: 5px;
}

.jsroot_dialog_content {
   flex: 1 1 auto;
   padding: 5px;
}

.jsroot_dialog_footer {
   flex: 0 1 auto;
   padding: 5px;
}

.jsroot_dialog_button {
   float: right;
   margin-right: 1em;
}

/*--------------------------------------------------
  Flexible MDI display
  --------------------------------------------------*/

.jsroot_flex_top {
   overflow: auto;
   position: relative;
   height: 100%;
   width: 100%;
}

.jsroot_flex_btn {
   float: right;
   padding: 0;
   width: 1.4em;
   text-align: center;
   font-size: 10px;
   margin-top: 2px;
   margin-right: 4px;
}

.jsroot_flex_header {
   height: 23px;
   overflow: hidden;
   background-color: lightblue;
}

.jsroot_flex_header p {
   margin: 1px;
   float: left;
   font-size: 14px;
   padding-left: 5px;
}

.jsroot_flex_draw {
   overflow: hidden;
   width: 100%;
   height: calc(100% - 24px);
}

.jsroot_flex_frame {
   border: 1px solid black;
   box-shadow: 1px 1px 2px 2px #aaa;
   background: white;
}

.jsroot_flex_resize {
   position: absolute;
   right: 2px;
   bottom: 2px;
   overflow: hidden;
   cursor: nwse-resize;
}

.jsroot_flex_resizable_helper {
   border: 2px dotted #00F;
}

/* stylesheet for floating browser */
.jsroot .float_browser {
    position: absolute;
    bottom: 35px;
    top: 5px;
    width: 300px;
    background: #E6E6FA;
    padding: 5px;
    overflow: auto;
}

/*--------------------------------------------------
  progress message
  --------------------------------------------------*/

#jsroot_progressbox {
    position: fixed;
    min-width: 100px;
    height: auto;
    overflow: visible;
    z-index: 101;
    border: 1px solid #999;
    background: #F8F8F8;
    left: 10px;
    bottom: 10px;
}

#jsroot_progressbox p {
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}


.jsroot [data-title]:before,
.jsroot [data-title]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: none;
    opacity: 0;
    z-index: 1001;
    pointer-events: none;
    bottom: 100%;
    left: 100%;
}

.jsroot [data-title]:hover:before,
.jsroot [data-title]:hover:after {
    display: block;
    opacity: 0.9;
}

.jsroot [data-title]:after {
    content: attr(data-title);
    background: #69738a;
    color: white;
    padding: 4px 5px;
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: 11px;
    line-height: 11px;
    white-space: nowrap;
    margin-left: -18px;
    border-radius: 2px;
}

/* stylesheet for embedded toolbar buttons */

.jsroot .svg_toolbar_btn {
    fill: steelblue;
    cursor: pointer;
    opacity: 0.3;
}

.jsroot .svg_toolbar_btn:hover {
    opacity: 1.0;
}

.jsroot_noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* MS Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* stylesheet for enlarged canvas */
#jsroot_enlarge_div {
     position: fixed;
     margin: 0px;
     border: 0px;
     padding: 0px;
     left: 1px;
     right: 1px;
     top: 1px;
     bottom: 1px;
     background: white;
     opacity: 0.95;
     z-index: 100;
     overflow: hidden;
}

/* stylesheet for browser */

.jsroot_browser {
   pointer-events: none;
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right:0;
   margin: 0;
   border: 0;
   overflow: hidden;
}

.jsroot_browser_area {
   background-color: #E6E6FA;
   font-size: 12px;
   font-family: Verdana;
   pointer-events: all;
   box-sizing: initial;
}

.jsroot_browser_btns {
   pointer-events: all;
   opacity: 0;
   display:flex;
   flex-direction: column;
}


.jsroot_fastcmd_btn {
   height: 32px;
   width: 32px;
   display: inline-block;
   margin: 2px;
   padding: 2px;
   background-position: left 2px top 2px;
   background-repeat: no-repeat;
   background-size: 24px 24px;
   border-color: inherit;
}

.jsroot_browser_btns:hover {
   opacity: 0.3;
}

.jsroot_browser_hierarchy {
   flex:1;
   margin-top:2px;
}

.jsroot_status_area {
   background-color: #E6E6FA;
   overflow: hidden;
   font-size: 12px;
   font-family: Verdana;
   pointer-events: all;
}

.jsroot_browser_area p {
   margin-top: 5px;
   margin-bottom: 5px;
   white-space: nowrap;
}

.jsroot_browser_title {
   font-family: Verdana;
   font-size: 20px;
}

.jsroot_browser_resize {
   position: absolute;
   right: 3px;
   bottom: 3px;
   margin-bottom: 0px;
   margin-right: 0px;
   opacity: 0.5;
   cursor: se-resize;
}

.jsroot_float_browser {
   border: solid 3px white;
}

.jsroot_draw_area {
   background-color: #E6E6FA;
   overflow: hidden;
   margin: 0;
   border: 0;
}

.jsroot_drag_area {
   background-color: #007fff;
}

.jsroot_inspector {
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px #aaa;
    opacity: 0.95;
    background-color: white;
}

/* separator style, used for browser and new grid layout */

.jsroot_separator {
   pointer-events: all;
   border: 0;
   margin: 0;
   padding: 0;
}

.jsroot_vline:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px dotted #ff0000;
}

.jsroot_hline:after {
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px dotted #ff0000;
}

.jsroot_h_separator {
   cursor: ns-resize;
   background-color: azure;
}

.jsroot_v_separator {
   cursor: ew-resize;
   background-color: azure;
}

.jsroot_status_label {
   margin: 3px;
   margin-left: 5px;
   font-size: 14px;
   vertical-align: middle;
   white-space: nowrap;
}

.jsroot .canvas_menu {
    float: left;
    display: block;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 17px;
    margin: 2px;
}

.jsroot .canvas_menu:hover {
    background-color: #ddd;
    color: black;
}
