/* Interface stylesheet for Javascript ROOT Web Page. */



.jsroot .xaxis path,
.jsroot .xaxis line,
.jsroot .yaxis path,
.jsroot .yaxis line,
.jsroot .zaxis path,
.jsroot .zaxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.jsroot .brush .extent {
    stroke: #fff;
    fill-opacity: 0.125;
    shape-rendering: crispEdges;
}

.jsroot rect.h1bin {
    stroke: #4572A7;
    fill: #4572A7;
    opacity: 0;
}

.jsroot rect.zoom {
    stroke: steelblue;
    fill-opacity: 0.1;
}

.jsroot path.zoom {
    stroke: steelblue;
    fill-opacity: 0.1;
}

.jsroot svg:not(:root) {
   overflow: hidden;
}


/*--------------------------------------------------
  progress message
  --------------------------------------------------*/

#jsroot_progressbox {
    position: fixed;
    min-width: 100px;
    height: auto;
    overflow: visible;
    z-index: 101;
    border: 1px solid #999;
    background: #F8F8F8;
    left: 10px;
    bottom: 10px;
}

#jsroot_progressbox p {
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}


.jsroot [data-title]:before,
.jsroot [data-title]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: none;
    opacity: 0;
    z-index: 1001;
    pointer-events: none;
    bottom: 100%;
    left: 100%;
}

.jsroot [data-title]:hover:before,
.jsroot [data-title]:hover:after {
    display: block;
    opacity: 0.9;
}

.jsroot [data-title]:after {
    content: attr(data-title);
    background: #69738a;
    color: white;
    padding: 4px 5px;
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: 11px;
    line-height: 11px;
    white-space: nowrap;
    margin-left: -18px;
    border-radius: 2px;
}

/* stylesheet for embedded toolbar buttons */

.jsroot_noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* MS Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}


